* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color:rgb(28, 25, 10)
}

.keybox {
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(46, 42, 20);
}


.lettersBox {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 46px;
    font-size: 34px;
    border-color: rgb(46, 42, 20);
    background-color: #e3e0cf; 
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.spKeyBox {
    border-color: rgb(46, 42, 20);
    display: inline-flex;
    justify-content: space-between; 
    margin: 5px;
}

.spKeys {
    border-color: rgb(46, 42, 20);
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    padding: 0.5em 1em; 
    font-size: 23px;
    background-color: #e3e0cf; 
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    line-height: 1; 
    text-align: center; 
    min-width: 3em; 
    min-height: 1.5em; 
    margin: 5px;
}